<% provide(:title, 'About Us')%>
<div class="center hero-unit">
<h1><%= yield(:title)%></h1>
<p>Welcome to Sample App <%= yield(:title)%> Page</p>
<p>TrustScan Solutions (TSS) technology brings to organizations the ultimate knowledges in computer vision, pattern recognition, artificial neural network, optical character recognation, document storage in order to  identify, analyze, extract, score, structure, classify, distribute documents and its content used for your daily business decisions.
TSS proposes a unique combination of technologies, business expertise and advanced project management to add multiple layers of intelligence in your documents processing.</p>
</div>

<h3>TSS is active in:</h3>
<text>-Anti-Fraud evaluation</text>
<p>-Credit scoring</p>
<p>-Building Customer knowledge</p>
<p>-Document processing industrialization</p>
<p>-Document workflow customization</p>
<p>-Compliance (Sox, Basel II,III…)</p>
<p>-Accounting facilities</p>
<p>-Decision workflow</p>


